#foto{
    width: 100%;
    height: 100%;
    
}


#tabla{
    float: none;
}

#titulotabla{
    background-color: #53C6FD;
    margin-bottom: 1px;
    padding: 3%;
    text-align: center;
    font-family: Yanone Kaffeesatz; 
    src: url('../fonts/YanoneKaffeesatz-Regular.eot'); 
    src: local("Yanone Kaffeesatz"), url('../fonts/YanoneKaffeesatz-Regular.ttf'); 
    color: #fff;
    font-size: 20px;

}

#titulos{
    background-color: #E5017D;
    color: #fff;
    text-align: center;
}

td{
 padding: 12px 15px;
 
}

tr:nth-child(odd) {
    background-color: #C8EAEB;
}

#tablefooter{
    background-color: #E5017D;
    color: #fff;
}






